.wrapper {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 0 10%;
}

/*  ____________________header wrapper */
.wrapper .header-wrapper header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}

.wrapper .header-wrapper .logo {
    width: 174px;
    height: 69px;
}

.wrapper .header-wrapper .search {
    width: 25px;
    height: 25px;
}

.wrapper .header-wrapper span {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper .header-wrapper .menu {
    width: 20px;
    height: 15px;
}


/* ********************* container-wrapper */

.wrapper .container-wrapper section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 40px;
}

.wrapper .container-wrapper section .p {
    width: 611px;
}

.wrapper .container-wrapper .girl {
    width: 400px;
    height: 450px;
}

.wrapper .container-wrapper h3 {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper .container-wrapper h3::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -24px;
    height: 1px;
    width: 20px;
    background-color: black;
}

.wrapper .container-wrapper h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.wrapper .container-wrapper p {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

.wrapper .container-wrapper span {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

/* &&&&&&&&&&&&&&&&&&&& side-wrapper */

.wrapper .side-wrapper aside {
    display: flex;
    margin-top: 30px;
    padding: 20px;
}

.wrapper .side-wrapper aside img {
    width: 20px;
    height: 20px;
    padding: 5px;
}

.wrapper .side-wrapper aside .scroll {
    position: relative;
}

.wrapper .side-wrapper aside .scroll img {
    position: absolute;
    content: "";
    top: 0px;
    left: 500px;
    width: 40px;
    height: 40px;
}

/* %%%%%%%%%%%%%%%%%%%%%%5 video-wrapper */

.wrapper .video-wrapper p {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
}

.wrapper .video-wrapper img {
    display: flex;
    justify-content: center;
    width: 1150px;
    height: 715px;
}

/*  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ what-wrapper */

.wrapper .what-wrapper h2 {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.wrapper .what-wrapper .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.wrapper .what-wrapper .container div {
    width: 380px;
    height: 409px;
    padding: 30px;
    font-family: 'Rubik', sans-serif;
}

.wrapper .what-wrapper .container h1 {
    font-size: 50px;
}

.wrapper .what-wrapper .container p {
    font-size: 20px;
}

.wrapper .what-wrapper .container span {
    margin-top: 50px;
    position: relative;
}

.wrapper .what-wrapper .container span::after {
    position: absolute;
    content: "\2192";
    right: -238px;
    font-size: 25px;
    top: -4px;
}



/*  ####################photo-wrapper */

.wrapper .photo-wrapper {
    margin-top: 200px;
}

.wrapper .photo-wrapper h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    margin-top: 60px;
}

.wrapper .photo-wrapper .shift {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.wrapper .photo-wrapper .shift span {
    margin-left: 10px;
}

.wrapper .photo-wrapper .grid {
    display: grid;
    grid-template-columns: repeat(3, auto);

    gap: 20px;
    margin-top: 50px;
    margin-left: -80px;
    margin-bottom: 30px;
}

.wrapper .photo-wrapper .grid .four {
    margin-top: -111px;
}

.wrapper .photo-wrapper .grid .five {
    margin-top: 3px;
}

.wrapper .photo-wrapper .grid .six {
    margin-top: -215px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ client-wrapper */

.wrapper .client-wrapper h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;

}

.wrapper .client-wrapper .client {
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 200px;
}

.wrapper .client-wrapper .client .man {
    margin-left: 0px;
}

.wrapper .client-wrapper .client p {
    font-size: 30px;
}

.wrapper .client-wrapper .client .text {
    width: 50%;
    margin-right: -100px;
}

.wrapper .client-wrapper .client .text .q2 {
    margin-left: 82%;
}


.wrapper .client-wrapper .client .text h2 {
    margin-top: 110px;
}

.wrapper .client-wrapper .client .text .img {
    width: 100%;
    margin-top: 100px;
}

/* contact wrapper */

.wrapper .contact .contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 1525px;
    margin-left: -160px;
    background-color: var(--primary-color);
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-bottom: 200px;
    justify-items: center;
    align-items: center;
    padding: 10px;
    height: 531px;
}

.wrapper .contact .contact-wrapper span::before {
    position: absolute;
    content: "Hello";
    FONT-SIZE: 400px;
    top: -55px;
    left: -400px;
    color: rgb(240 248 255 / 5%);

}

.wrapper .contact .contact-wrapper .links {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    z-index: 3;
}

.wrapper .contact .contact-wrapper span {
    font-size: 25px;
    padding: 10px;
    margin-top: 50px;
    position: relative;

}

.wrapper .contact .contact-wrapper h6 {
    font-size: 35px;
    padding: 10px;
    margin-bottom: 30px;
    word-spacing: 10px;
}

.wrapper .contact .contact-wrapper button {
    width: 8%;
    height: 50px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 120px;
    z-index: 2;
}

/* &&&&&&&&&&&&77 number-wrapper */

.wrapper .number .number-wrapper {
    display: flex;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-bottom: 300px;

}

.wrapper .number .number-wrapper h3 {
    font-size: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.wrapper .number .number-wrapper span {
    font-size: 15px;
    margin-left: 20px;
}

.wrapper .number-wrapper span:first-of-type {
    margin-left: -15px;
    position: relative;
}

.wrapper .number .number-wrapper div .three {
    margin-left: 20px;
}

.wrapper .number .number-wrapper div .four {
    margin-left: 5px;
}

.wrapper .number .number-wrapper .three::before {
    position: absolute;
    content: "Project";
    font-size: 200px;
    left: -605px;
    top: -149px;
    letter-spacing: 56px;
    color: #d6d6d640;
    font-family: 'Rubik', sans-serif;
}


/* ############### blog-wrapper */
.wrapper .blog-wrapper .picture {
    display: flex;
    font-family: 'Rubik', sans-serif;
    justify-content: space-between;
    margin-bottom: 80px;
}

.wrapper .blog-wrapper h4 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 10px;
    margin-bottom: 60px;
    font-size: 40px;

}

.wrapper .blog-wrapper .picture .one {
    background-color: var(--primary-color);
    color: white;
    margin-top: -4px;
    padding-top: 10px;
    height: 250px;
    width: 380px;
}

.wrapper .blog-wrapper .picture .one span {
    padding: 10px;
}

.wrapper .blog-wrapper .picture .one span:nth-of-type(2) {
    margin-left: 20px;
}

.wrapper .blog-wrapper .picture .one span:nth-of-type(3) {
    margin-left: 50px;
}

.wrapper .blog-wrapper .picture .one p {
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 30px;
}

.wrapper .blog-wrapper .picture .one img {
    padding: 10px;
}

.wrapper .blog-wrapper .two {
    margin-bottom: 200px;
    margin-left: -89px;
}

/* $$$$$$$$$$$$$$$$$$$$$sign-wrapper */

.wrapper .sign-wrapper {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 200px;
}

.wrapper .sign-wrapper h4 {
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
    padding: 30px;
    font-size: 40px;
    margin-bottom: 50px;
}

.wrapper .sign-wrapper .name {
    display: flex;
    justify-content: space-between;
}

.wrapper .sign-wrapper .name .form {
    width: 505px;
    height: 500px;
    background-color: var(--primary-color);
    color: white;

}

.wrapper .sign-wrapper .name .form form input {
    width: 80%;
    background-color: var(--primary-color);
    margin-left: 10%;
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: white;
    padding: 5px;
    margin-top: 60px;
}

.wrapper .sign-wrapper .name .form form input:nth-of-type(4) {
    padding-bottom: 30px;
}

.wrapper .sign-wrapper .name .form form input:nth-of-type(5) {
    padding-bottom: 10px;
    width: 20%;
    background-color: white;
    color: black;
    text-align: center;
    height: 40px;
    margin-left: 70%;
    margin-top: 20px;
}

.wrapper .sign-wrapper .name .pragraph {
    width: 550px;
    height: 500px;
}

.wrapper .sign-wrapper .name .pragraph p {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 240px;
}

.wrapper .sign-wrapper .name .pragraph span {
    width: 220px;
    display: block;
    padding: 5px;
    margin-left: 30px;
    position: relative;
}

.wrapper .sign-wrapper .name .pragraph span::before {
    position: absolute;
    content: "";
    width: 22px;
    top: 50%;
    left: -28px;
    height: 1px;
    background-color: black;
}

/* @@@@@@@@@@@@@@@@@@@@@@@footer-wrapper */

.wrapper .footer-wrapper footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}

.wrapper .footer-wrapper footer .links {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.wrapper .footer-wrapper footer .links img {

    width: 20px;
    height: 20px;

}


@media (min-width:1152px) and (max-width:1439px) {
    .wrapper {
        padding: 0 2%;
    }

    .wrapper .container-wrapper section {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        margin-top: 40px;
    }

    .wrapper .container-wrapper h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        letter-spacing: 2px;
        width: 150px;
    }

    .wrapper .container-wrapper p {
        font-family: 'Rubik', sans-serif;
        font-size: 30px;
        width: 410px;
    }

    .wrapper .container-wrapper span {
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        width: 460px;
        display: block;
    }


    .wrapper .container-wrapper .girl {
        width: 434px;
        height: 459px;
    }

    .wrapper .side-wrapper aside .scroll img {
        position: absolute;
        content: "";
        top: 0px;
        left: 430px;
        width: 40px;
        height: 40px;
    }

    .wrapper .side-wrapper aside .one {
        margin-left: 7px;
    }

    .wrapper .video-wrapper p {
        font-size: 30px;
        text-align: center;
        margin-top: 150px;
        font-family: 'Rubik', sans-serif;
        padding: 30px;
    }

    .wrapper .video-wrapper img {
        width: 1050px;
        height: 715px;
        margin: 0px auto;
    }

    .wrapper .what-wrapper h2 {
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
        font-size: 45px;
    }

    .wrapper .what-wrapper .container div {
        width: 342px;
        height: 409px;
        padding: 30px;
        font-family: 'Rubik', sans-serif;
    }

    .wrapper .what-wrapper .container span::after {
        position: absolute;
        content: "\2192";
        right: -186px;
        font-size: 25px;
        top: -4px;
    }

    .wrapper .what-wrapper .container div .h1 {
        width: 184px;
        font-size: 40px;
        overflow-wrap: break-word;
    }

    .wrapper .what-wrapper .container h1 {
        font-size: 40px;
    }

    .wrapper .what-wrapper .side img {
        margin-top: 50px;
        width: -webkit-fill-available;
        height: 20px;
    }

    .wrapper .photo-wrapper {
        margin-top: 250px;
    }

    .wrapper .photo-wrapper .grid .one img {
        width: 342px;
        height: 525px;
    }

    .wrapper .photo-wrapper .grid .two img {
        width: 342px;
        height: 638px;
    }

    .wrapper .photo-wrapper .grid .three img {
        width: 342px;
        height: 419px;
    }

    .wrapper .photo-wrapper .grid .four img {
        width: 342px;
        height: 525px;
    }

    .wrapper .photo-wrapper .grid .five img {
        width: 342px;
        height: 412px;
    }

    .wrapper .photo-wrapper .grid .six img {
        width: 342px;
        height: 631px;
    }

    .wrapper .photo-wrapper .grid .one {
        width: 342px;
        height: 525px;
    }

    .wrapper .photo-wrapper .grid .two {
        width: 342px;
        height: 638px;
    }

    .wrapper .photo-wrapper .grid .three {
        width: 342px;
        height: 419px;
    }

    .wrapper .photo-wrapper .grid .four {
        width: 342px;
        height: 525px;
    }

    .wrapper .photo-wrapper .grid .five {
        width: 342px;
        height: 412px;
    }

    .wrapper .photo-wrapper .grid .six {
        width: 342px;
        height: 631px;
    }

    .wrapper .photo-wrapper .side {
        margin-top: 50px;
        width: 1089px;
        height: 20px;
        display: flex;
    }

    .wrapper .photo-wrapper .grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;
        margin: 0px auto;
        justify-content: space-between;
    }

    .wrapper .client-wrapper .client .text {
        width: 542px;
        height: 589px;
        margin: 0px;
    }

    .wrapper .client-wrapper .client .man {
        width: 486px;
        height: 589px;
        margin: 0px;
    }

    .wrapper .client-wrapper .client p {
        font-size: 33px;
    }

    .wrapper .client-wrapper .client .text .img {
        width: 100%;
        margin-top: 87px;
    }



    .wrapper .contact .contact-wrapper {
        display: flex;
        flex-direction: column;
        width: revert;
        background-color: var(--primary-color);
        font-family: 'Rubik', sans-serif;
        color: white;
        justify-items: center;
        align-items: center;
        margin: 0px -2%;
    }

    .wrapper .contact .contact-wrapper .links {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        z-index: 3;
    }

    .wrapper .contact .contact-wrapper span::before {
        position: absolute;
        content: "Hello";
        FONT-SIZE: 400px;
        top: -23px;
        left: -470px;
        letter-spacing: 29px;
        color: rgb(240 248 255 / 5%);
    }

    .wrapper .number .number-wrapper .three::before {
        position: absolute;
        content: "Project";
        font-size: 180px;
        left: -551px;
        top: -153px;
        letter-spacing: 56px;
        color: #d6d6d640;
        font-family: 'Rubik', sans-serif;
    }

    .wrapper .number .number-wrapper {
        display: flex;
        justify-content: space-around;
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        margin-bottom: 300px;
        margin-top: 208px;
    }

    .wrapper .blog-wrapper .picture .test {
        width: 342px;
        height: 591px;
    }

    .wrapper .blog-wrapper .picture .test :first-child {
        width: 342px;
        height: 337px;
    }

    .wrapper .blog-wrapper .picture .test .one {
        width: 342px;
        height: 337px;
    }

    .wrapper .blog-wrapper .picture .one span:nth-of-type(3) {
        margin-left: 35px;
    }

    .wrapper .blog-wrapper .picture .one span:nth-of-type(2) {
        margin-left: 30px;
    }

    .wrapper .blog-wrapper .picture .one span {
        padding: 5px;
    }

    .wrapper .blog-wrapper .picture .one p {
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 25px;
    }

    .wrapper .blog-wrapper .picture .test :last-child {
        width: 342px;
    }

    .wrapper .blog-wrapper .picture {

        margin-left: 1%;
    }

    .wrapper .sign-wrapper .name .pragraph p {
        font-size: 35px;
        margin-top: 40px;
        margin-bottom: 186px;
    }

    .wrapper .photo-wrapper .side {
        margin-top: 50px;
        width: -webkit-fill-available;
        height: 20px;
        display: flex;
    }

    .wrapper .blog-wrapper .two {
        margin-bottom: 200px;
        margin-left: 0px;
        margin-top: 40px;
        width: -webkit-fill-available;
    }

}


@media (min-width:768px) and (max-width:1151px) {
    .wrapper {
        padding: 0 2%;
    }

    .wrapper .container-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper .container-wrapper .girl {
        margin-top: 0px;
        width: 728px;
        height: 459px;
    }

    .wrapper .container-wrapper section {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-top: 40px;
    }

    .wrapper .container-wrapper h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 70px;
        letter-spacing: 2px;
    }

    .wrapper .container-wrapper p {
        font-family: 'Rubik', sans-serif;
        font-size: 40px;
    }

    .wrapper .container-wrapper .p div:last-child {
        width: -webkit-fill-available;
        height: 459px;
    }

    .wrapper .container-wrapper span {
        font-family: 'Rubik', sans-serif;
        font-size: 24px;
    }

    .wrapper .container-wrapper section .p {
        width: 693px;
    }

    .wrapper .container-wrapper section .photo {
        width: -webkit-fill-available;
        height: 459px;
        margin-top: 40px;
    }

    .wrapper .side-wrapper aside {
        display: flex;
        margin-top: 30px;
        padding: 10px;
        justify-content: center;
    }

    .side-wrapper aside .one {
        display: flex;
        width: 30%;
        justify-content: space-between;
    }


    .wrapper .video-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .video-wrapper p {
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
        font-family: 'Rubik', sans-serif;
    }

    .wrapper .video-wrapper img {
        display: flex;
        justify-content: center;
        width: 728px;
        height: auto;
        margin-top: 30px;
    }


    .wrapper .what-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper .what-wrapper .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .wrapper .what-wrapper h2 {
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
    }

    .wrapper .what-wrapper .container div {
        width: 728px;
        height: 409px;
        padding: 30px;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
    }

    .wrapper .what-wrapper .container h1 {
        font-size: 45px;
        margin-top: 10%;
    }

    .wrapper .what-wrapper .container span::after {
        position: absolute;
        content: "\2192";
        right: -52px;
        font-size: 25px;
        top: -4px;
    }

    .wrapper .what-wrapper .side img {
        margin-top: 30px;
        width: 728px;
    }

    .wrapper .photo-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .photo-wrapper .grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 728px;
        justify-content: center;
        margin-left: 0px;
    }

    .wrapper .photo-wrapper .grid div img {
        width: 728px;
        height: 520px;
    }



    .wrapper .photo-wrapper .grid .four {
        margin: 0px;
    }

    .wrapper .photo-wrapper .grid .five {
        margin: 0px;
    }

    .wrapper .photo-wrapper .grid .six {
        margin-top: 0px;
    }

    .wrapper .photo-wrapper .shift {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        word-spacing: 5px;
    }

    .wrapper .container-wrapper h3 {
        position: relative;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 24px;
    }

    .wrapper .photo-wrapper .side img {
        width: 728px;
    }

    .wrapper .client-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper .client-wrapper .client .text .img {
        display: none;
    }

    .wrapper .client-wrapper .client .text h2 {
        margin-top: 30px;
    }

    .wrapper .client-wrapper .client .text .q2 {
        margin-left: 89%;
    }

    .wrapper .client-wrapper .client p {
        font-size: 32px;
    }

    .wrapper .client-wrapper .client .text {
        width: 728px;
        margin-right: 0px;
        margin-top: 30px;
    }

    .wrapper .client-wrapper h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 40px;
        margin-bottom: 100px;
        margin-top: 300px;
        display: flex;
        justify-items: center;
    }

    .wrapper .client-wrapper .client .man {
        margin-left: 200px;
        width: 337px;
        height: 434px;
    }

    .wrapper .client-wrapper .client .man img {
        width: 337px;
        height: 434px;
        margin: 0px 0%;
    }

    .wrapper .client-wrapper .client {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 200px;
        flex-direction: column;
    }

    .wrapper .client-wrapper .client span {
        position: relative;
    }

    .wrapper .client-wrapper .client span::after {
        position: absolute;
        content: url(../test/Slidedddddddddddddddddddr.png);
        top: 200%;
        left: 0%;

    }

    .wrapper .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .wrapper .contact .contact-wrapper {
        width: 768px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--primary-color);
        margin: 0px -2%;
        font-family: 'Rubik', sans-serif;
        color: white;
        height: 592px;
    }


    .wrapper .contact-wrapper span::before {
        position: absolute;
        content: "HELLO";
        FONT-SIZE: 400px;
        top: -55px;
        left: -535px;
        color: rgb(240 248 255 / 5%);

    }

    .wrapper .contact-wrapper .links {
        display: flex;
        width: 70%;
        justify-content: space-evenly;
        z-index: 3;
    }

    .wrapper .contact-wrapper span {
        font-size: 25px;
        padding: 10px;
        margin-top: 50px;
        position: relative;

    }

    .wrapper .contact-wrapper h6 {
        font-size: 35px;
        padding: 10px;
        margin-bottom: 30px;
        word-spacing: 10px;
    }

    .wrapper .contact-wrapper button {
        width: 8%;
        height: 50px;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 120px;
        z-index: 2;
    }

    .wrapper .contact .contact-wrapper span::before {
        position: absolute;
        content: "Hello";
        FONT-SIZE: 320px;
        top: -18px;
        left: -294px;
        color: rgb(240 248 255 / 5%);
    }

    .wrapper .contact .contact-wrapper span {
        font-size: 25px;
        padding: 10px;
        margin-top: 50px;
        position: relative;
    }

    .wrapper .contact .contact-wrapper button {
        width: 20%;
        height: 60px;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 120px;
        z-index: 2;
    }

    .wrapper .contact .contact-wrapper .links {
        display: flex;
        width: 85%;
        justify-content: space-evenly;
        z-index: 3;
    }

    .wrapper .number {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 200px;
    }


    .wrapper .number .number-wrapper {
        display: flex;
        justify-content: space-around;
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        margin-bottom: 300px;
        width: 730px;
        height: 210px;

    }

    .wrapper .number .number-wrapper .three::before {
        position: absolute;
        content: "Project";
        font-size: 180px;
        left: -437px;
        top: -120px;
        letter-spacing: 24px;
        color: #d6d6d66b;
        font-family: 'Rubik', sans-serif;
    }

    .wrapper .number .number-wrapper h3 {
        font-size: 40px;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .wrapper .blog-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .wrapper .blog-wrapper .picture {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .wrapper .blog-wrapper .picture .test {
        width: 728px;
        height: 564px;
        padding: 0px;
        margin-bottom: 20px;
    }

    .wrapper .blog-wrapper .picture .test img:first-child {
        width: 728px;
        height: 337px;
        padding: 0px;
        margin: 0px;
    }

    .wrapper .blog-wrapper .picture .test .one {
        width: inherit;
        height: 227px;
        padding: 0px;
        margin: 0px;
    }


    .wrapper .blog-wrapper .picture .test .one {
        margin-top: -2px;
        width: inherit;
        height: 227px;
        padding: 0px;
    }

    .wrapper .blog-wrapper .picture .one span:nth-of-type(3) {
        margin-left: 32%;
    }

    .wrapper .blog-wrapper .picture .one span:nth-of-type(2) {
        margin-left: 26%;
    }

    .wrapper .blog-wrapper .two {
        margin-bottom: 200px;
        width: 728px;
        height: 15px;
        margin-left: 0px;
    }

    .wrapper .sign-wrapper {

        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }


    .wrapper .sign-wrapper .name {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .wrapper .sign-wrapper h4 {
        font-size: 50px;
        margin-bottom: 50px;
        width: 556px;
        text-align: start;
        padding: 0px;
        word-spacing: 0px;
    }

    .wrapper .sign-wrapper .name .pragraph span {
        width: 283px;
        display: block;
        padding: 5px;
        margin-left: 30px;
        position: relative;
        font-size: 20px;
    }

    .wrapper .sign-wrapper .name .pragraph p {
        font-size: 28px;
        margin-top: 40px;
        margin-bottom: 90px;
        width: 728px;
    }

    .wrapper .sign-wrapper .name .pragraph {
        width: 728px;
        height: 350px;
    }

    .wrapper .sign-wrapper .name .form form input:nth-of-type(5) {
        padding-bottom: 10px;
        width: 20%;
        background-color: white;
        color: black;
        text-align: center;
        height: 50px;
        margin-left: 75%;
        margin-top: 20px;
        font-size: 20px;
    }

    .wrapper .sign-wrapper .name .form form input {
        width: 90%;
        background-color: var(--primary-color);
        margin-left: 5%;
        color: white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom-color: white;
        padding: 5px;
        margin-top: 70px;
    }

    .wrapper .sign-wrapper .name .form {
        width: 728px;
        height: 542px;
        background-color: var(--primary-color);
        color: white;
    }

    .wrapper .footer-wrapper footer .links {
        width: 463px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .wrapper .footer-wrapper footer {
        display: flex;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }





}



@media (min-width:320px) and (max-width:767px) {
    .wrapper {
        padding: 0px 2%;
    }

    .wrapper .header-wrapper .menu {
        width: 40px;
        height: 40px;
    }

    .wrapper .header-wrapper span {

        display: none;
    }

    .wrapper .header-wrapper .search {

        display: none;
    }

    .wrapper .container-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper .container-wrapper .girl {
        margin-top: 0px;
        width: 288px;
        height: 280px;
    }

    .wrapper .container-wrapper section {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-top: 40px;
    }

    .wrapper .container-wrapper h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 29px;
    }

    .wrapper .container-wrapper p {
        font-family: 'Rubik', sans-serif;
        font-size: 21px;
    }

    .wrapper .container-wrapper .p div:last-child {
        width: -webkit-fill-available;
        height: 459px;
    }

    .wrapper .container-wrapper span {
        font-family: 'Rubik', sans-serif;
        font-size: 19px;
    }

    .wrapper .container-wrapper section .p {
        width: 288px;
    }

    .wrapper .container-wrapper section .photo {
        width: -webkit-fill-available;
        height: 280px;
        margin-top: 40px;
    }

    .wrapper .container-wrapper h3::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -25px;
        height: 1px;
        width: 20px;
        background-color: black;
    }

    .wrapper .container-wrapper h3 {
        position: relative;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 25px;
    }

    .wrapper .side-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .wrapper .side-wrapper aside {
        display: flex;
        margin-top: 30px;
        padding: 20px;
        width: 288px;
    }

    .wrapper .side-wrapper aside .one {
        display: flex;
        width: 288px;
        justify-content: space-between;
    }

    .wrapper .side-wrapper aside img {
        width: 20px;
        height: 20px;
        padding: 0px;
    }


    .wrapper .video-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .video-wrapper p {
        font-size: 31px;
        text-align: center;
        margin-top: 100px;
        font-family: 'Rubik', sans-serif;
        width: 288px;
    }

    .wrapper .video-wrapper img {
        display: flex;
        justify-content: center;
        width: 288px;
        height: auto;
        margin-top: 30px;
    }

    .wrapper .what-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    .wrapper .what-wrapper .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 60px;
        flex-direction: column;
    }

    .wrapper .what-wrapper h2 {
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
        width: 288px;
    }

    .wrapper .what-wrapper .container div {
        width: 288px;
        height: 409px;
        padding: 30px;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
    }

    .wrapper .what-wrapper .container .h1 {
        font-size: 46px;
        margin-top: 10%;
        word-break: break-word;
        position: relative;
    }

    .wrapper .what-wrapper .container span::after {
        position: absolute;
        content: "\2192";
        right: -52px;
        font-size: 25px;
        top: -4px;
    }

    .wrapper .what-wrapper .side img {
        margin-top: 30px;
        width: 728px;
    }

    .wrapper .what-wrapper .container p {
        font-size: 19px;
    }


    .wrapper .what-wrapper .side img {
        display: none;
        width: 288px;
        height: 10px;

    }

    .wrapper .what-wrapper .container .h1::after {
        position: absolute;
        content: url(../test/Sliwwwwwwwwwwwwwwwwwer.png);
        top: 220%;
        left: -14%;
    }

    .wrapper .photo-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .photo-wrapper .grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        gap: 20px;
        margin-top: -10px;
        margin-bottom: 30px;
        width: 728px;
        justify-content: center;
        margin-left: 0px;
        position: relative;
    }

    .wrapper .photo-wrapper .grid::after {
        position: absolute;
        content: url(../test/Sliwwwwwwwwwwwwwwwwwer.png);
        top: 102%;
        left: 30%;
        width: 288px;
    }

    .wrapper .photo-wrapper .grid div img {
        width: 288px;
        height: 200px;
    }



    .wrapper .photo-wrapper .grid .four {
        margin: 0px;
    }

    .wrapper .photo-wrapper .grid .five {
        margin: 0px;
    }

    .wrapper .photo-wrapper .grid .six {
        margin-top: 0px;
    }

    .wrapper .photo-wrapper .shift {
        display: flex;
        align-items: flex-start;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        word-spacing: 5px;
        width: 288px;
        flex-direction: column;
    }

    .wrapper .photo-wrapper .shift span:first-child {
        font-weight: bold;
        margin-left: 17px;
        position: relative;
        margin-left: 30px;
    }

    .wrapper .photo-wrapper .shift span:first-child::before {
        position: absolute;
        content: "";
        top: 50%;
        left: -19px;
        width: 8px;
        height: 1px;
        background-color: black;
    }

    .wrapper .photo-wrapper .shift span {
        margin-bottom: 20px;
    }



    .wrapper .photo-wrapper .side img {
        width: 728px;
        display: none;
    }


    .wrapper .client-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper .client-wrapper .client .text .img {
        display: none;
    }

    .wrapper .client-wrapper .client .text h2 {
        margin-top: 30px;
    }

    .wrapper .client-wrapper .client .text .q2 {
        margin-left: 79%;
        width: 60px;
        height: 52px;
    }

    .wrapper .client-wrapper .client p {
        font-size: 18px;
        width: 288px;
    }

    .wrapper .client-wrapper .client .text {
        width: 288px;
        margin-right: 0px;
        margin-top: 30px;
    }

    .wrapper .client-wrapper .client .text img:first-child {
        width: 60px;
        height: 52px;
    }

    .wrapper .client-wrapper h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 40px;
        margin-bottom: 100px;
        margin-top: 300px;
        display: flex;
        justify-items: center;
        width: 288px;
    }

    .wrapper .client-wrapper .client .man {
        margin-left: 0px;
        width: 288px;
        height: 360px;
    }

    .wrapper .client-wrapper .client .man img {
        width: 288px;
        height: 360px;
        margin: 0px 0%;
    }

    .wrapper .client-wrapper .client {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 200px;
        flex-direction: column;
    }

    .wrapper .client-wrapper .client span {
        position: relative;
    }

    .wrapper .client-wrapper .client span::after {
        position: absolute;
        content: url(../test/Slidedddddddddddddddddddr.png);
        top: 300%;
        left: -300%;
    }

    .wrapper .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 200px;
    }

    .wrapper .contact .contact-wrapper {
        width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--primary-color);
        margin: 0px -2%;
        font-family: 'Rubik', sans-serif;
        color: white;
        height: 592px;
    }


    .wrapper .contact-wrapper span::before {
        position: absolute;
        content: "HELLO";
        FONT-SIZE: 400px;
        top: -55px;
        left: -535px;
        color: rgb(240 248 255 / 5%);

    }

    .wrapper .contact-wrapper .links {
        display: flex;
        width: 70%;
        justify-content: space-evenly;
        z-index: 3;
    }

    .wrapper .contact .contact-wrapper span {
        font-size: 20px;
        padding: 10px;
        margin-top: 50px;
        position: relative;
    }

    .wrapper .contact-wrapper h6 {
        font-size: 30px;
        padding: 10px;
        margin-bottom: 30px;
        word-spacing: 10px;
    }

    .wrapper .contact-wrapper button {
        width: 8%;
        height: 50px;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 120px;
        z-index: 2;
    }

    .wrapper .contact .contact-wrapper span::before {
        position: absolute;
        content: "Hello";
        FONT-SIZE: 320px;
        top: -18px;
        left: -294px;
        color: rgb(240 248 255 / 5%);
        display: none;
    }

    .wrapper .contact .contact-wrapper span {
        font-size: 25px;
        padding: 10px;
        margin-top: 50px;
        position: relative;
    }

    .wrapper .contact .contact-wrapper button {
        width: 55%;
        height: 60px;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 120px;
        z-index: 2;
    }

    .wrapper .contact .contact-wrapper .links {
        display: flex;
        width: 85%;
        justify-content: space-between;
        z-index: 3;
    }

    .wrapper .number {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 200px;
    }


    .wrapper .number .number-wrapper {
        display: flex;
        justify-content: space-around;
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        margin-bottom: 300px;
        width: 288px;
        flex-direction: column;
        align-items: center;
    }

    .wrapper .number .number-wrapper .three::before {
        position: absolute;
        content: "Project";
        font-size: 180px;
        left: -437px;
        top: -120px;
        letter-spacing: 24px;
        color: #d6d6d66b;
        font-family: 'Rubik', sans-serif;
        display: none;
    }

    .wrapper .number .number-wrapper h3 {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper .number .number-wrapper span {
        margin: 0px;
    }

    .wrapper .number .number-wrapper div {
        margin-bottom: 50px;
    }

    .wrapper .number .number-wrapper div .three {
        margin-left: 7px;
    }

    .wrapper .number .number-wrapper div .four {
        margin-left: 0px;
    }

    .wrapper .blog-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .wrapper .blog-wrapper .picture {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
        position: relative;

    }

    .wrapper .blog-wrapper .picture::after {
        position: absolute;
        content: url(../test/Sliwwwwwwwwwwwwwwwwwer.png);
        top: 102%;
        left: 0px;
    }

    .wrapper .blog-wrapper .picture .test {
        width: 288px;
        height: 564px;
        padding: 0px;
        margin-bottom: 20px;
    }

    .wrapper .blog-wrapper .picture .test img:first-child {
        width: 288px;
        height: 337px;
        padding: 0px;
        margin: 0px;
    }

    .wrapper .blog-wrapper .picture .test .one {
        margin-top: -2px;
        width: inherit;
        height: 227px;
        padding: 0px;
    }


    .wrapper .blog-wrapper .picture .test .one {
        margin-top: -2px;
        width: inherit;
        height: 227px;
        padding: 0px;
    }

    .wrapper .blog-wrapper .picture .one span:nth-of-type(3) {
        margin-left: -1%;
    }

    .wrapper .blog-wrapper .picture .one span:nth-of-type(2) {
        margin-left: -3%;
    }

    .wrapper .blog-wrapper .two {
        margin-bottom: 200px;
        width: 728px;
        height: 15px;
        margin-left: 0px;
        display: none;
    }

    .wrapper .blog-wrapper .picture .one p {
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 23px;
    }


    .wrapper .blog-wrapper .picture .one img {
        padding: 10px;
        width: 186px;
        margin-right: -68px;
    }

    .wrapper .sign-wrapper {

        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }


    .wrapper .sign-wrapper .name {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 288px;
    }

    .wrapper .sign-wrapper h4 {
        font-size: 36px;
        margin-bottom: 50px;
        width: 288px;
        text-align: start;
        padding: 0px;
        word-spacing: 0px;
    }

    .wrapper .sign-wrapper .name .pragraph span {
        width: 256px;
        display: block;
        padding: 5px;
        margin-left: 30px;
        position: relative;
        font-size: 18px;
    }

    .wrapper .sign-wrapper .name .pragraph p {
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 56px;
        width: 288px;
    }

    .wrapper .sign-wrapper .name .pragraph {
        width: 288px;
        height: 350px;
        margin-bottom: 0px;
    }

    .wrapper .sign-wrapper .name .form form input:nth-of-type(5) {
        padding-bottom: 10px;
        width: 35%;
        background-color: white;
        color: black;
        text-align: center;
        height: 50px;
        margin-left: 60%;
        margin-top: 20px;
        font-size: 20px;
    }

    .wrapper .sign-wrapper .name .form form input {
        width: 90%;
        background-color: var(--primary-color);
        margin-left: 5%;
        color: white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom-color: white;
        padding: 5px;
        margin-top: 70px;
    }

    .wrapper .sign-wrapper .name .form {
        width: 288px;
        height: 542px;
        background-color: var(--primary-color);
        color: white;
    }

    .wrapper .footer-wrapper footer .links {
        width: 288px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .wrapper .footer-wrapper footer {
        display: flex;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }


}





/* @media (min-width:1440px) {

}
@media (min-width:1920px){

}  */


/* * {
    outline: 1px solid red;
} */